<!DOCTYPE html>
<html>
  
  <head>
    <title>YelpCamp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            YelpCamp
          </a>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li><a href = "/">Home</a></li>
            <li><a href = "/campgrounds">Campgrounds</a></li>
            <li><a href = "/campgrounds/new">Add new campground</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

              <% if (currentUser) { %>
                <li class="navbar-text">Signed in as <%= currentUser.username %></li>
                <li><a href = "/signout">Sign out</a></li>
              <% } else { %>
                <li><a href = "/signin">Sign in</a></li>
                <li><a href = "/signup">Sign up</a></li>
              <% } %>
            
          </ul>
        </div>

      </div>
    </nav>


    <div class="container">
    
      <% if (errors && errors.length > 0) { %>
        <% errors.forEach(error => { %>
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> <%= error %>
          </div>
        <% }); %>
      <% } %>

      <% if (successes && successes.length > 0) { %>
        <% successes.forEach(success => { %>
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> <%= success %>
          </div>
        <% }); %>
      <% } %>
    
    </div>


