<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
      <h1>Change comment to <%= campground.name %></h1>

      <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" rows="5" id="comment" name="comment[text]" placeholder="Place some comment about place"><%= comment.text %></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit!</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>