<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
      <h1>Sign in</h1>

      <form action="/signin" method="POST">
      
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>
        <button class="btn btn-primary btn-block">Sign in</button>
      
      </form>

    </div>
  </div>
</div>

<% include partials/footer %>