.auto-clear {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  padding: 0;
}

img.img-responsive {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 20px;
}

form.inline {
  display: inline-block;
}