<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
      <h1>Edit <em><%= campground.name %></em> Campground</h1>

      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="campground[name]" placeholder="Name" value="<%= campground.name %>"autofocus>
        </div>
        <div class="form-group">
          <label for="img">Image</label>
          <input type="text" class="form-control" id="img" name="campground[img]" placeholder="Image" value="<%= campground.img %>">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" name="campground[description]" placeholder="Place some description about place"><%= campground.description %></textarea>
        </div>
        <button class="btn btn-primary btn-block">Submit!</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>