<% include ../partials/header %>

<div class="container">
  
  <header class="jumbotron text-center">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
  </header>

  <div class="row auto-clear">
    <% campgrounds.forEach( campground => { %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= campground.img %>">
          <div class="caption">
            <h4><a href = "/campgrounds/<%= campground._id %>"><%= campground.name %></a></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>