<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
      <h1>Create a new Campground</h1>

      <form action="/campgrounds" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" autofocus>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name="image" placeholder="Image" autofocus>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" name="description" placeholder="Place some description about place"></textarea>
        </div>
        <button class="btn btn-primary btn-block">Submit!</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>